<style>
  .copyright-div {
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.625rem;
  }

  .footer-link {
    color: white;
    font-weight: 500;
    font-size: 0.9375em;
  }

</style>

<!-- comment -->
<footer class="page-footer" style="background: #ED6C02;">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <ul>
          <li><a class="grey-text text-lighten-3 footer-link" href="/">Inicio</a></li>
          <li><a class="grey-text text-lighten-3 footer-link" href="/#comofunciona">¿Cómo funciona?</a></li>
          <li><a class="grey-text text-lighten-3 footer-link" href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align copyright-div">
      Copyright © mator 2022 - 20233
    </div>
  </div>
</footer>