<style>
  nav {
    background-color: #ED6C02;
    height: 6.25rem;
    padding: 1rem;
  }

  nav a {
    position: relative;
    font-weight: 800;
    font-size: 2.25rem;
    letter-spacing: 0.15rem;
  }
</style>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">MATOR</a>
  </div>
</nav>